<% layout('layouts/boilerplate')%>
    <link rel="stylesheet" href="./style2.css" />

    <!-- <h1>Register</h1>
<form action="/register" method="POST" class="validated-form" novalidate>
  <div class="mb-3">
    <label class="form-label" for="username">Username</label>
    <input
      class="form-control"
      type="text"
      id="username"
      name="username"
      required
    />
    <div class="valid-feedback">Looks good!</div>
  </div>
  <div class="mb-3">
    <label class="form-label" for="email">Email</label>
    <input class="form-control" type="email" id="email" name="email" required />
    <div class="valid-feedback">Looks good!</div>
  </div>
  <div class="mb-3">
    <label class="form-label" for="password">Password</label>
    <input
      class="form-control"
      type="password"
      id="password"
      name="password"
      required
    />
    <div class="valid-feedback">Looks good!</div>
  </div>
  <button class="btn btn-success">Register</button>
</form> -->

    <div class="box-form">


        <div class="right">
            <h5>Registrar</h5>
            <p>
                Ya tienes una cuenta?
                <a href="/login"> iniciar </a>
            </p>
            <form action="/register" method="post" class="validated-form" novalidate>
                <div class="inputs">
                    <input type="text" placeholder="user name" id="username" name="username" autofocus required />
                    <br />
                    <input type="email" placeholder="email" id="email" name="email" required />
                    <br />
                    <input type="password" placeholder="password" id="password" name="password" required />
                </div>

                <br /><br />

                <div class="remember-me--forget-password">
                    <!-- Angular -->
                    <!-- <label>
        <input type="checkbox" name="item" checked />
        <span class="text-checkbox">Remember me</span>
      </label> -->
                    <p><a href=""> olvidastes la clave??</a></p>
                </div>

                <br />
                <button>Registrar</button>
            </form>
        </div>
    </div>